extends layout

block content
    div(id="colorWrapperIndex")
        div(id="wrapperIndex")
            h1(class="mainHeader") Account Information
            p Username: 
            br
            p Email: 
            br
            p Age:
            br
            p What is your gender?
            p Answer:
            br
            p Which tempature do you prefer?
            p Answer: 
            br
            p Do you like Winnie The Pooh?
            p Answer:
            br
            br
            a(id="logP" href="/logout")
                p Log Out
            a(id="editP" href="/edit")
                p Edit
