doctype html
html
    head
        link(href="style.css", rel="stylesheet")
        title Totally Not A Scam
    body

    header
            nav
                p(id="label") TotallyNotAScam.Org
                    ul
                        a(href="/signup")
                            li Home
                        //- each item in config.navMenu
                        //-     a(href=item[1])
                        //-         li #{item[0]}

    block content