doctype html
html
    head
        link(href="style.css", rel="stylesheet")
        title Totally Not A Scam
    body

    header
            nav
                p(id="label") TotallyNotAScam.Org
                    ul
                        a(href="/")
                            li Login
                        a(href="/signup")
                            li Sign Up
                        
    block content